.header  {
  font-family: monospace;
  background: papayawhip;
  /* Correct */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mine */
/* Not included in Recommended solution (bellow) */
/* .left-links ul, .right-links ul{
  display: flex;
  align-items: center;
  gap: 16px
} */

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* Mine */
  /* padding-inline-start: 0; */
  /* Recommended Solution */
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/* Overview */
/* Task was completed succesfully
  Although my method was more complicated it acomplished same/very close goals as recommended solution.
*/