body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 0px 1px; /* Correct 8px */
}

.title, .button-container {
  margin: 10px; /* Only for title and only bottom - 8px */
  padding: 10px; /* 8px */
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 10px; /* Only bottom and 8px */
  padding: 20px 10px; /* 16px 8px */
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px; /* 8px 24px */
  margin: 0px auto;
}

/* TASK WAS DONE CORRECTLY

Although I missed values in paddings and borders it looked near identically to original. Main points of the task were also done correctly.

*/