/* Add CSS Styling */

/* Class Selector */
.container .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* Type Selector */
div p{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* Correct

Also possible:
.container p
div .text

*/
